
body {
  font-family: Helvetica;
  text-align: center;
}

#wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

#header h1 {
  font-weight: bold;
  font-size: 70px;
}

#header a {
  color: white;
  font-weight: bold;
  font-size: 18px; 
}

#newYorkBanner {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

#ourProcess {
  color: dimgray;
}

#ourProcess h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

#origin {
  color: dimgray;
}

#footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}

#footer a {
  color: white;
  font-size: 14px;
}
